.bg-green{
    background-color:  rgb(83, 117, 67);
}
.search{
    width: 65%;
    height: auto;
}
.search-icon{
    margin-left: 3rem;
}

.logo{
    max-width: 80%;
    height: auto;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color:#CDE990 ;
}
.name{
    text-align: center;
    padding-top: 70px;
}
.name h1,h2{
    font-family: 'Berkshire Swash', cursive;
    line-height: 38px;    
    color: white;
}
.name h1{
    font-size: 6em;
    margin-bottom: 60px;
}
.name h2{
    font-size: 2.5em;
}
.btn{
    color: rgb(62, 88, 49);
    padding:5px 30px ;
    margin-bottom: 50px;
}
.restro-intro p{
     font-size: 20px;
     line-height: 30px;
     color: white;
     padding-bottom: 50px;
}
.helo:hover{
    color: blue;
    font-size: 2em;
}
.inline{
    display: inline-block;
}
.pos-rel{
    position: relative;
}
.group-dish{
    position: absolute;
    top: 0px;
    width: 20%;
    height: auto;
}





@media screen and (max-width:767px) {
    .search{
       width: 4%;
    }
    .search-icon{
        margin-left: 0;
    }
    .name h1{
        font-size:3em ;
    }
    .name h2{
        font-size: 1.25em;
    }
    .name h1,h2{
        line-height: 19px;
    }
    .inline{
        display: block;
    }
    .group-dish{
        position:static;
    }
}
