.bg-green{
    background-color:  rgb(83, 117, 67);
}
.search{
    width: 65%;
    height: auto;
}
.search-icon{
    margin-left: 3rem;
}

.logo{
    max-width: 80%;
    height: auto;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color:#CDE990 ;
}

/* 

Home Section

*/
#Home{
    background-image:  linear-gradient(47deg,#427050,#b7cd85);
  
    text-align: center;
}
.bg-vector{
    background:url(image/vector.png);
    background-size: 300px 300px ;
}

.tittle-name{
    font-family: 'Berkshire Swash', cursive;
    font-size: 5.7rem;
    line-height: 43px;
    margin-top: 15%;
    color: white;
    
}
.tittle-name::first-line{
    font-size: 2.5rem;
}
.tittle-dish{
    max-width: 90%;
}
.btn{
    color: rgb(62, 88, 49);
    padding:5px 30px ;
    margin-bottom: 50px;
}

.inline{
    display: inline-block;
}
.pos-rel{
    position: relative;
}





@media screen and (max-width:767px) {
    .search{
       width: 4%;
    }
    .search-icon{
        margin-left: 0;
    }

    .tittle-name{
        font-size:2.4rem ;
        line-height: 24px;
        margin-bottom: 30px;
    }
    .tittle-name::first-line{
        font-size:.8rem ;
    }
   
}

@media screen and (max-width:991px){
    .tittle-name{
        font-size:2.8rem ;
        line-height: 24px;
    }
    .tittle-name::first-line{
        font-size:1.25rem ;
    }
}