.bg-green{
    background-color:  rgb(83, 117, 67);
}
.search{
    width: 65%;
    height: auto;
}
.search-icon{
    margin-left: 3rem;
}

.logo{
    max-width: 80%;
    height: auto;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color:#CDE990 ;
}

/* 

Home Section

*/
#Home{
    background-image: linear-gradient(47deg,#1a3b24,#aacf57);
    text-align: center;
}
.bg-vector{
    background:url(image/vector.png);
    background-size: 300px 300px ;
}

.title-name{
    font-family: 'Berkshire Swash', cursive;
    font-size: 5.7rem;
    line-height: 43px;
    margin-top: 15%;
    color: white;
    
}
.title-name::first-line{
    font-size: 2.5rem;
}
.title-div p{
    color: white;
    letter-spacing: 1px;
    text-align: left;
    opacity: 50%;
    font-family: 'Edu NSW ACT Foundation', cursive;
    margin: 7% auto 4% auto;
    width: 70%;
    
}
.title-dish{
    max-width: 90%;
}
.btn{
    color: rgb(62, 88, 49);
    padding:.8% 4% ;
    margin-bottom: 50px;
    border-radius:1em;
    font-weight: 700;
}
.navbar-toggler:focus{
    box-shadow: 0 0 0 0;
}
.inline{
    display: inline-block;
}
.pos-rel{
    position: relative;
}

/* About section */
#about{
    text-align: center;
    background-image: linear-gradient(62deg,#1f3c28,#88a34a);
}
.about-row{
    padding-top: 10%;
    margin: 0%;
}
.about-div{
   padding-right: 0%;
   padding-left: 2%;
}
.about-food{
    display: flex;
    align-items: center;
    background-color: yellow;
    padding: 3% 7% 0% 36%;
    height: 70%;
}
.about-img{
    position: relative;
    left: 0%;
    bottom: 6%;
    width: 200%;
}




.about-food h1{
    font-family: 'Berkshire Swash', cursive;
    font-size: 2rem;
    color: rgb(62, 88, 49);
}
.about-food h4{
    font-family: 'Farsan', cursive;
    font-size: 1.2rem;
    color: rgb(62, 88, 49);
}
.about-food p{
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 1.2em;
    letter-spacing: 50%;
    color: rgb(62, 88, 49);
} 

/* Services section */

#services{
    background-color: #55623c;
text-align: center;
}
#services img{
    max-width: 30%;
}
#services h3{
    color: white;
}
#services p{
    color: white;
}
.services-carousel{
    display: none;
}

.services-container h3{
    font-size: 1.2rem;
}
.services-container p{
    font-size: .9rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}




/* About Chef */


#chef{
    background-image: linear-gradient(0deg,#1a3b24,#aacf57);
    text-align: center;
}

.chef-card{
    margin: 0% auto;
    width: 18rem;
}

.chef-carousel{
    display: none;
}

.chef-about-container h1{
    font-family: 'Berkshire Swash', cursive;
    color: white;
}

.chef-about-container p{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: .8rem;
    line-height: 15%;
}


/* About Restaurant */
#About-Restaurant{
    background: linear-gradient(17deg,#e67e18,#f7aa3e);
    text-align: center;
}
.cooking-img{
    max-width: 80%;
    box-shadow: -2px 2px   black,-2px 2px 15px  black;
}

.delicious-food{
    text-align: left;
    font-family: 'Poppins', sans-serif;

}

.delicious-food button{
    padding: 1% 7%;
}

/* Testimonials */

#Testimonials{
    
    background-color: #264a0dbf;
    text-align: center;
}
.testimonial-header h2{
    font-family: 'Berkshire Swash', cursive;
    font-size: 6rem;
}
#Testimonials h5{
    font-size: 1.2rem;
    width: 50%;
    margin: 2% auto 1% auto;
}
#Testimonials h5:nth-child(2n){
    margin-bottom: 5%;
}

.carousel-indicators [data-bs-target] {
   border-radius: 100%;
   width: 8px;
   height: 8px;
  }











@media screen and (max-width:768px) {
    .search{
       width: 4%;
    }
    .search-icon{
        margin-left: 0;
    }

    .title-name{
        font-size:2.7rem ;
        line-height: 24px;
        margin-bottom: 30px;
    }
    .title-name::first-line{
        font-size:.8.2rem ;
    }
   
    .title-dish{
        width: 70%;
    }

   /* about section */

   .about-row{
    padding-top: 0%;
   }
   .about-row div{
    margin-top: 0% !important;
   }
   .about-div{
    padding-left: 0%;
   }
   .img-div{
    display: none;
   }
  

   .about-food h1{
    font-family: 'Berkshire Swash', cursive;
    font-size: 1.1rem;
}
.about-food h4{
    font-family: 'Farsan', cursive;
    font-size: .8rem;
}
.about-food p{
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: .4rem;
    letter-spacing: 50%;
} 
 .about-food div{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
 }
  .about-food{
    padding: 10% 0% 0% 0%;
    height: auto;
  }


/* services section */


#services img{
    max-width: 10%;
}
#services h3{
    width: 50%;
    margin: 2% auto;
}
#services p{
    font-size: .8rem;
    width: 50%;
    margin: 2% auto;
}

.services-container{
    display: none;
}
.services-carousel{
    display: block;
}


/* About Chef */
.chef-carousel{
    display: block;
}
.chef-container{
    display: none;
}
.chef-note{
    font-size: .6rem;
    width: 75%;
    margin: 0 auto;
}

/* About-Restaurant */
.cooking-img{
   padding-top: 0% !important;
   margin-top: 0% !important;
    width: 50%;
}
.delicious-food{
    text-align: center;
    width:70%;
    margin: 0 auto;
}
.delicious-food h3{
    font-size: 1rem !important;
}
.delicious-food p{
    font-size: .7rem !important;
}

/* Testimonials */
.testimonial-header h2{
    font-size: 3rem ;
}
.testimonial-cmnt h5{
    font-size: .8rem !important;
}



}

@media screen and (max-width:991px){
    .title-name{
        font-size:2.8rem ;
        line-height: 24px;
    }
    .title-name::first-line{
        font-size:1.25rem ;
    }
  /* About section */
    .about-food h1{
        font-family: 'Berkshire Swash', cursive;
        font-size: 1.6rem;
    }
    .about-food h4{
        font-family: 'Farsan', cursive;
        font-size: 1rem;
    }
    .about-food p{
        font-family: 'Edu NSW ACT Foundation', cursive;
        font-size: .8rem;
        letter-spacing: 50%;
    } 

    /* services section */



    /* About chef */

    .chef-card{
        width: 12rem;
    }
    .chef-card h3{
        font-size: 1rem;
    }
    .chef-card h6{
        font-size: .7rem;
    }


    /* About-Restaurant */

    .delicious-food h3{
        padding-top: 0% !important;
        font-size: 1.1rem;
      }
    .delicious-food p{
        font-size: .8rem;
    }

}